Source: anoise
Section: sound
Priority: extra
Standards-Version: 0.0.31
Maintainer: costales <costales.marcos@gmail.com>
Build-Depends: python-distutils-extra, debhelper (>=7)
Homepage: https://costales.github.io/projects/anoise/

Package: anoise
Architecture: all
Section: sound
Priority: extra
Depends: python3-gst-1.0, gir1.2-gstreamer-1.0, gir1.2-gtk-3.0, gir1.2-webkit2-4.0, anoise-media
Breaks: anoise (<< 0.0.9)
Replaces: anoise (<< 0.0.9)
Description: Ambient Noise Player
 Relax or concentrate with a noise
